* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Sorts Mill Goudy", serif;	
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	.main{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 80px;
	}
}