.news_container {
	gap: 8px;
	height: auto;
	width: 70%;
	margin-bottom: 60px;
	border-bottom: 1px solid #ccc;
}
.grid_1,
.grid_3 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	height: 500px;


	.card_0 {
		grid-column: span 2 / span 2;
		grid-row: span 2 / span 2;
		border-bottom: 1px solid #ccc;

		.card_content {
			.card_header {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				height: 50%;
			}
			
			.image_container {
				display: none;
			}
		}
		.description_container{
			height: 50%;
			
			.card_description {
				display: -webkit-box;
				overflow: hidden;
				text-overflow: ellipsis;
				line-clamp: 4;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
			}
		}
	}

	.card_1 {
		grid-row: span 2 / span 2;
		grid-column-start: 1;
		grid-row-start: 3;
		font-size: 0.8rem;
		padding-right: 4px;
		border-right: 1px solid #ccc;

		.card_content {
			.card_header {
				margin-bottom: 85px;
				.image_container {
					margin-bottom: 5px;
				}

				.card_title{
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					line-clamp: 5;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
				}

			}

			.description_container{
				.card_description {
					display: none;
				}
			}
		}
	}

	.card_2 {
		grid-row: span 2 / span 2;
		grid-column-start: 2;
		grid-row-start: 3;
		font-size: 0.8rem;

		.card_content {
			.card_header {
				margin-bottom: 85px;

				.image_container {
					margin-bottom: 5px;
				}

				.card_title{
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					line-clamp: 5;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
				}

			}

			.description_container{
				.card_description {
					display: none;
				}
			}
		}
	}

	.card_3 {
		grid-column: span 2 / span 2;
		grid-row: span 4 / span 4;
		grid-column-start: 3;
		grid-row-start: 1;
		padding-left: 4px;
		border-left: 1px solid #ccc;

		.card_content {
			.card_header {
				height: 60%;

				.image_container{
					height: 80%;
				}
				.card_title{
					height: 20%;
				}
			}
			
			.description_container{
				height: 40%;

				.card_description {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					line-clamp: 4;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
				}
			}
		}
	}

	.card_4 {
		grid-row: span 2 / span 2;
		grid-column-start: 5;
		grid-row-start: 1;
		font-size: 0.8rem;
		padding-left: 4px;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

		.card_content {
			.card_header {
				margin-bottom: 85px;
				.image_container {
					margin-bottom: 5px;
				}

				.card_title{
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					line-clamp: 5;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
				}

			}

			.description_container{
				.card_description {
					display: none;
				}
			}
		}
	}

	.card_5 {
		grid-row: span 2 / span 2;
		grid-column-start: 5;
		grid-row-start: 3;
		font-size: 0.8rem;
		padding-left: 4px;
		border-left: 1px solid #ccc;

		.card_content {
			.card_header {
				margin-bottom: 85px;
				.image_container {
					margin-bottom: 5px;
				}

				.card_title{
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					line-clamp: 5;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
				}

			}

			.description_container{
				.card_description {
					display: none;
				}
			}
		}
	}
}

.grid_2{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(10, 1fr);
	overflow: hidden;
	gap: 8px;
	height: auto;

	.card{
		height: 330px;
		.card_content {

			.card_header{
				height: 60%;

				.image_container {
					height: 60%;
					
					.card_image {
						object-fit: cover;
					}	
				}
				.card_title{
					height: 40%;
					align-content: center;
				}
			}
			
			.description_container{
				height: 40%;
				align-content: center;

				.card_description {
					overflow: hidden;
					display: -webkit-box;
					line-clamp: 4;
					  -webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					text-overflow: ellipsis;
				}
			}
		}
	}

	.card_0 {
		grid-row: span 3 / span 3;
		grid-column: span 2 / span 2;
		padding-right: 4px;	
		border-right: 1px solid #ccc;

		/* .card_content {

			.card_header{
				height: 60%;

				.image_container {
					height: 60%;
					
					.card_image {
						object-fit: cover;
					}	
				}
				.card_title{
					height: 40%;
					align-content: center;
				}
			}
			
			.description_container{
				height: 40%;
				.card_description {
					overflow: hidden;
					display: -webkit-box;
					line-clamp: 4;
					  -webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					text-overflow: ellipsis;
				}
			}
		} */
	}

	.card_1{
		grid-row: span 3 / span 3;
		grid-column: span 2 / span 2;	
		grid-column-start: 3;
		padding-left: 4px;
		border-left: 1px solid #ccc;
		/* height: 370px; */

		/* .card_content {
			.card_header{
				height: 60%;

				.image_container {
					height: 60%;
					
					.card_image {
						object-fit: cover;
					}	
				}
				.card_title{
					height: 40%;
					align-content: center;
				}
			}
			
			.description_container{
				height: 40%;
				.card_description {
					overflow: hidden;
					display: -webkit-box;
					line-clamp: 4;
					  -webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					text-overflow: ellipsis;
				}
			}
		} */
	}

	.card_2{
		grid-row: span 3 / span 3;
		grid-column: span 2 / span 2;
		grid-column-start: 5;
		padding-left: 4px;
		border-left: 1px solid #ccc;

		/* .card_content {
			

			.card_header{
				height: 60%;

				.image_container {
					height: 40%;
					
					.card_image {
						object-fit: cover;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 4;
				  -webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;	
			}
		} */
	}

	.card_3{
		grid-row: span 4 / span 4;
		grid-column: span 2 / span 2;
		grid-column-start: 1;
		grid-row-start: 4;
		margin-top: 20px;
		border-right: 1px solid #ccc;


		/* .card_content {
			

			.card_header{
				height: 60%;

				.image_container {
					height: 40%;
					
					.card_image {
						object-fit: cover;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 4;
				  -webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;	
			}
		} */
	}

	.card_4{
		grid-row: span 3 / span 3;
		grid-column: span 2 / span 2;
		grid-column-start: 3;
		grid-row-start: 4;
		margin-top: 20px;
		border-left: 1px solid #ccc;

		/* .card_content {
			

			.card_header{
				height: 50%;

				.image_container {
					height: 50%;
					
					.card_image {
						object-fit: cover;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 2;
				  -webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;	
			}
		} */
	}

	.card_5{
		grid-row: span 3 / span 3;
		grid-column: span 2 / span 2;	
		grid-column-start: 5;
		grid-row-start: 4;
		margin-top: 20px;
		border-left: 1px solid #ccc;

		/* .card_content {

			.card_header{
				height: 50%;
				.card_title{
					font-size: 1rem;
				}
				.image_container {
					height: 50%;
					
					.card_image {
						object-fit: cover;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 3;
				  -webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;		
			}
		} */
	}

	.card_6{
		grid-row: span 3 / span 3;
		grid-column: span 2 / span 2;
		grid-column-start: 1;
		grid-row-start: 8;
		border-right: 1px solid #ccc;
		/* margin-top: 20px; */

		.card_content {
			

			.card_header{
				height: 50%;

				.image_container {
					height: 50%;
					
					.card_image {
						object-fit: cover;
					}
				}
			}
			
			.card_description {
				display: none;	
			}
		}
	}

	.card_7{
		grid-row: span 4 / span 4;
		grid-column: span 2 / span 2;
		grid-column-start: 5;
		grid-row-start: 7;
		border-right: 1px solid #ccc;
		margin-top: 20px;

		.card_content {
			

			.card_header{
				height: 50%;

				.image_container {
					height: 50%;
					
					.card_image {
						object-fit: cover;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 3;
				  -webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
			}
		}
	}

	.card_8{
		grid-row: span 4 / span 4;
		grid-column-start: 3;
		grid-row-start: 7;
		border-right: 1px solid #ccc;
		margin-top: 20px;

		.card_content {
			

			.card_header{
				height: 60%;

				.image_container {
					height: 40%;
					
					.card_image {
						object-fit: cover;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 2;
				  -webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
			}
		}
	}

	.card_9{
		grid-row: span 4 / span 4;
		grid-column-start: 4;
		grid-row-start: 7;
		border-right: 1px solid #ccc;
		margin-top: 20px;

		.card_content {
			
			.card_header{
				height: 60%;

				.image_container {
					height: 40%;
					
					.card_image {
						object-fit: cover;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 2;
				  -webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
			}
		}
	}

}

.grid_4 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 8px;
	height: 550px;

	.card_0 {
		grid-row: span 5 / span 5;
		padding-right: 4px;	
		border-right: 1px solid #ccc;

		.card_content {
			.card_header{
				height: 60%;

				.image_container {
					height: 40%;
					
					.card_image {
						object-fit: contain;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 7;
				  -webkit-line-clamp: 7;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
			}
		}
	}

	.card_1 {
		grid-row: span 5 / span 5;
		padding-right: 4px;
		border-right: 1px solid #ccc;

		.card_content {
			.card_header{
				height: 59%;

				.image_container {
					height: 41%;
					
					.card_image {
						object-fit: contain;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 5;
				  -webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
			}
		}
	}

	.card_2 {
		grid-column: span 2 / span 2;
		grid-row: span 5 / span 5;

		.card_content {
			.image_container {
				.card_image {
					object-fit: contain;
				}
			}
		}
	}

	.card_3 {
		grid-row: span 5 / span 5;
		grid-column-start: 5;
		padding-left: 4px;
		border-left: 1px solid #ccc;

		.card_content {
			.card_header{
				height: 59%;

				.image_container {
					height: 41%;
	
					.card_image {
						object-fit: contain;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 7;
				  -webkit-line-clamp: 7;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
			}	
		}
	}

	.card_4 {
		grid-row: span 5 / span 5;
		grid-column-start: 6;
		padding-left: 4px;
		border-left: 1px solid #ccc;

		.card_content {
			.card_header{
				height: 60%;

				.image_container {
					height: 40%;
					
					.card_image {
						object-fit: contain;
					}
				}
			}
			
			.card_description {
				overflow: hidden;
				display: -webkit-box;
				line-clamp: 7;
				  -webkit-line-clamp: 7;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
			}
		}
	}

	.card_5 {
		display: none;
	}
}
